<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="3" />

        <service android:name="com.lunaskyhy.harukaroute.carapp.NavigationCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION" />
                <!-- source from : https://developer.android.com/training/cars/apps?hl=ja#supported-app-categories -->
            </intent-filter>
        </service>
    </application>

</manifest>